<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUS</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row main-container"> 
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h1 class="aboutUsHeading">About Us!</h1>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                <img class="img-fluid"  src="assets/aboutpng3.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-5 productHeading">
                <h1 class="display-2">About Us!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
                <span class="aboutus">Digital Solutions was founded 2 years back with the desire to bridge the gap between sales tactic and absolute execution. The journey began with the vision of becoming the final word in the sales enablement ecosystem. Quite a lot of business shaping forces in these two decades’ time transformed us into a tech-enabled sales enablement company. And there were many milestones and rough battles that define who we are today.
                    The brand Digital Solutions has emerged over the years after traversing through multiple challenges and enlightening lessons. The only constant across this journey has been the ‘amazing people’ that have associated their future on a promise and ‘dream’ that brand Digital Solutions managed to create. The dream that we live today was created on a shoestring budget with a lot of passion, hard work, and ideas as the key investments.
                    So far, we have generated o for our industry-leading clients, spread across varied industries such as Technology, Telecom, E-commerce, FMCG, Consumer etc. Presently, we are all aligning to the new reality in the wake of unprecedented challenges faced by businesses worldwide. As an organization, we are looking at this situation as a catalyst to fast track innovations and working on new service methodologies to continue influencing and enabling sales for our customers. Over the years, we have set gold standards for sales enablement in terms of people, process, technology, and innovation – and the aim is to continue delivering unparalleled value to our customers, as well as our people</span>
            </div>
        </div>
    </div>
</body>
</html>