<html>
  <head>
    <script src="https://kit.fontawesome.com/4985b9bbe6.js" crossorigin="anonymous"></script>
  </head>
  <body>
<div class="text-center">
  <span class="display-1">Digital Solutions</span>
  
</div>
<nav mat-tab-nav-bar >
  <a mat-tab-link class="matTabLink"
     *ngFor="let link of navLinks"
     active='true'
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rla.isActive">
    {{link.label}}
  </a>
</nav>

<div [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</div>
  </body>
</html>